.card {
  height: 450px;
}

.card-img-top {
  height: 350px;
}

.d-block {
  height: 500px;
  width: 200px;
}

.card-body {
  height: 50px;
}

.card.similar-card {
  height: 15vw;
  width: 15vw;
}

.card-img-top.similar-img {
  height: 15vw;
  width: 15 vw;
}
